<div class="modal fade" #modalElement tabindex="-1" aria-labelledby="florModalLabel" aria-hidden="true" *ngIf="flor">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{ flor.nombre }} - {{ flor.color }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form (ngSubmit)="editarFlor(nombre.value, color.value, temporada.value, caracteristica.value, flor._id!)">
                    <label for="id" class="form-label">ID</label>
                    <input type="text" id="id" disabled class="form-control" [value]="flor._id">

                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" id="nombre" class="form-control" #nombre [value]="flor.nombre">

                    <label for="color" class="form-label">Color</label>
                    <input type="text" id="color" class="form-control" #color [value]="flor.color">

                    <label for="temporada" class="form-label">Temporada</label>
                    <input type="text" id="temporada" class="form-control" #temporada [value]="flor.temporada">

                    <label for="caracteristica" class="form-label">Característica</label>
                    <input type="text" id="caracteristica" class="form-control" #caracteristica [value]="flor.caracteristica">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-success" (click)="editarFlor(nombre.value, color.value, temporada.value, caracteristica.value, flor._id!)">Editar</button>
            </div>
        </div>
    </div>
</div>