<div class="table-container">
  <table class="table table-striped mt-4" *ngIf="Flore?.flores?.length">
    <thead>
      <tr>
        <th>#</th>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Características</th>
        <th>Temporada</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eje of Flore?.flores; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ eje._id }}</td>
        <td>{{ eje.nombre }}</td>
        <td>{{ eje.color }}</td>
        <td>{{ eje.caracteristica }}</td>
        <td>{{ eje.temporada }}</td>
        <td>
          <!-- Botón para editar -->
          <button class="btn btn-outline-success btn-sm me-1" (click)="openModal(eje)" aria-label="Editar flor">
            <i class="fas fa-edit"></i> 
          </button>
          
          <!-- Botón para eliminar -->
          <button class="btn btn-outline-danger btn-sm" (click)="eliminarFlor(eje._id!)" aria-label="Eliminar flor">
            <i class="fas fa-trash-alt"></i> 
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Componente de modal para editar -->
  <app-modal-edit></app-modal-edit>
</div>

<!-- Fuente de íconos FontAwesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
